<p> <%= student.first_name %> <%= student.last_name %></p>
  | <%= link_to "up", vote_student_path(student, type: "up"), method: "post" %>
  | <%= link_to "down", vote_student_path(student, type: "down"), method: "post" %>
