<h1>Teachers#show</h1>
<p>Find me in app/views/teachers/show.html.erb</p>
	Welcome, <%= current_teacher.email %>!.
<<<<<<< HEAD
	
=======
	<%= link_to 'create class', class_rooms_new_path %>
>>>>>>> voting-gem
